.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/
.cache/
ipynb_checkpoints/
.env/
.envrc
*.env
*.ipynb